<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <form class="form-inline mt-2 mt-md-0 ml-auto">
            <button class="btn btn-info my-2 my-sm-0" [routerLink]="['/login']">Login</button>
            <button class="btn btn-primary mx-3 my-2 my-sm-0" [routerLink]="['/register']">Register</button>
        </form>
    </div>
</nav>