
  <app-navbar></app-navbar>

    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Home Page</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga vel debitis esse deserunt! Porro facilis, sint deleniti inventore sunt, provident reprehenderit dolorem animi aperiam ratione iste cumque impedit repudiandae. Iure?.</p>
            <a class="btn btn-lg btn-primary" href="/docs/4.4/components/navbar/" role="button">View navbar docs
                &raquo;</a>
        </div>
    </main>

   <app-footer></app-footer>